<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gvn.pets">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- access wifi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Change state wifi -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Permission to Camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Access too Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />



    <application
        android:name="com.gvn.pets.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.gvn.pets.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="da0e60b172173601ef953b761f99caa15d6dce16" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>